@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

:root {
    --font-main: 'Space Grotesk', sans-serif;
    --font-secondary: 'Outfit', sans-serif;

    --color-bg-dark: #1b1b1b;
    --color-bg-darker: #000000;
    --color-bg-light: #474747;
    --color-bg-card: #858585;

    --color-text-primary: #FFFFF0;
    --color-text-secondary: #C0C0C0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-bg-darker);
    color: var(--color-text-primary);
    line-height: 1.6;
    overflow-x: hidden;
}

.log-out {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-text-primary);
    position: absolute;
    right: 3vw;
    top: 3vh;
    z-index: 1000;
}