:root {
    --color-primary: #ef4444;
    --color-primary-dark: #b91c1c;

    --color-bg-dark: #1b1b1b;
    --color-bg-darker: #000000;
    --color-bg-light: #474747;
    --color-bg-card: #858585;

    --color-text-primary: #FFFFF0;
    --color-text-secondary: #C0C0C0;

    --gradient-main: linear-gradient(to bottom, #0f172a, #1e293b);
    --gradient-card: linear-gradient(135deg, rgba(30, 41, 59, 0.8), rgba(15, 23, 42, 0.9));
    --gradient-overlay: linear-gradient(to top, rgba(15, 23, 42, 0.95), rgba(15, 23, 42, 0.8));
}

@font-face {
    font-family: 'GodOfWar';
    src: url('/assets/font/god-of-war-font.TTF') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GodOfWar', sans-serif;
    background-color: var(--color-bg-darker);
    color: var(--color-text-primary);
    line-height: 1.6;
    overflow-x: hidden;
}