@font-face {
    font-family: 'god-of-war';
    src: url('../font/god-of-war-font.TTF') format('truetype');
}

:root {
    --color-bg-dark: #1b1b1b;
    --color-bg-darker: #000000;
    --color-bg-light: #474747;
    --color-bg-card: #858585;

    --color-text-primary: #FFFFF0;
    --color-text-secondary: #C0C0C0;
}

html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'god-of-war';
}

body {
    background-color: var(--color-bg-darker);
    color: var(--color-text-primary);
}

.log-out {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../img/logout.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 3vw;
    top: 3vh;
    z-index: 1000;
    transition: transform 0.2s ease;
}

.log-out:hover {
    transform: scale(1.1);
}


.parallax {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloud-left,
.cloud-right {
    position: absolute;
    width: 80vw;
    height: auto;
    opacity: 0.7;
    will-change: transform;
    bottom: -8%;
    transform: translateX(0);
    z-index: 1000;
}

.cloud-left {
    left: 40%;
}

.cloud-right {
    right: 40%;
}

.user-infos {
    position: relative;
    text-align: center;
    z-index: 2;
    padding: 2rem;
}

.user-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.magic-word{
    color: var(--color-text-secondary);
    font-size: 20px;
}

/* ------------- statistic section ------------- */

.stats-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.stat-card {
    flex: 1;
    max-width: 800px;
    min-width: 600px;
    height: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--color-text-secondary);
    overflow: auto;
}

.demo {
    width: 100%;
    height: 20%;
    text-align: end;
    color: var(--color-text-primary);
}

.reference {
    margin-right: 10px;
}

.reference.fail {
    color: var(--color-text-secondary);
    background-color: var(--color-text-secondary);
}

.reference.pass {
    color: var(--color-text-primary);
    background-color: var(--color-text-primary);
}

/* --------------- svg element --------------------- */

.svg-container {
    width: 100%;
    height: 90%;
}

.project-name {
    font-size: 10px;
    fill: var(--color-text-primary);
}

@media (max-width: 600px) {
    .stat-card {
        min-width: 300px;
    }
}